<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="85d4e6a6-7dd7-4807-bb33-461c011ece88" name="NP" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="85d4e6a6-7dd7-4807-bb33-461c011ece88fileName">NP</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>