<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="442f2984-256d-4a54-992f-93ec9173a3b5" activeEnvironment="Default environment" name="REST Project 1" resourceRoot="" compositeProjectFormat="1.3" xmlns:con="http://eviware.com/soapui/config"><con:settings/><con:requirements/><con:properties/><con:wssContainer/><con:databaseConnectionContainer/><con:oAuth2ProfileContainer/><con:authRepository/></con:soapui-project>