<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="5591e3e0-6dbb-43d0-9b84-c83be5e80541" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://10.110.2.121" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="38a1e88d-14c1-445a-acea-9fa6dd0cc51efileName">http%3A%2F%2F10.110.2.121</con:setting><con:setting id="5591e3e0-6dbb-43d0-9b84-c83be5e80541fileName">http%3A%2F%2F10.110.2.121</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://10.110.2.121</con:endpoint></con:endpoints></con:interface>